body {
    margin: 0;
    font-family: "Microsoft YaHei";
    background: url("../img/bg.png") repeat;
    background-color: #f6e9e6;
}

.back-home {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 16px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    text-decoration: none;
    z-index: 999;
    transition: 0.2s;
}

.back-home:hover {
    background: rgba(0,0,0,0.5);
    color: #fff;
  }